<div class="flex flex-col gap-2 p-4 hover:shadow-lg text-left h-full w-full cursor-pointer"
  data-title="{{ include.title }}"
  data-description="{{ include.description }}"
  data-picture="{{ include.picture }}"
  onclick="handleProjectClick(this)">
  <img class="border rounded-md w-full h-48 object-cover" src="{{ include.picture }}" alt="{{ include.title }}" loading="lazy">
  <h3 class="text-2xl text-brand font-bold">{{ include.title }}</h3>
  <div class="font-thin line-clamp-2 text-gray-600 prose prose-sm max-w-none">{{ include.description | markdownify }}</div>
</div>
